<%= link_to "Back to Gardens", gardens_url %>

<h1>Reservations</h1>

<% @reservations.each do |reservation| %>
  <p>
    Name: <%= reservation.grower.username %></br>
    Veggie: <%= reservation.vegetable_id %></br>
    Note: <%= reservation.note %>
  </p>
<% end %>
<!-- how to iterate thru veggies for each reservations? -->
