<%= link_to "Back to Gardens", gardens_path %>

<h1 class="page-title">Edit Garden</h1>
<%= link_to "Delete", garden_path(@garden), method: :delete, data: {confirm: "Are you sure you want to delete this garden?"}  %>

<%= render 'form' %>

<!-- where to place edit and delete garden links for owner? -->
