// Place all the styles related to the gardens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#map{
   margin-top:5%; padding:0;
   position:absolute; top:0; right: 1%; bottom:0;
   // float: right;
   height: 400px;
   width: 65%;
   // float: right
}
