@import "materialize";
@import "gardens";
@import "reservations";
@import "sessions";
@import "users";
@import "vegetables";

body {
  background-image: url('clouds2.png');
  // background-color: ;
  // font-family: 'Sniglet', cursive;
  // font-family: 'Poiret One', cursive;
  font-family: 'Baloo Tamma', cursive;
  // font-size: 12px;
  // background-color: #E0E8D9 ;
  // background-color: #E0E8D9;
  // margin: 5px;
}

// nav bar
.grey.lighten-2 {
  background-color: #e0e0e0 !important;
  height: 80px;
}

.site-nav {
  position: fixed;
  z-index: 1;
}

.nav-wrapper {
  height: 300px;
}

// links
a {
  color: #819c76;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

// headings
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.1;
  color: black;
}

.logo {
  margin: 0;
  padding-top: 10px;
  padding-left: 15px;
  text-align: left;
  font-size: 1.5rem;
  color: #245516 ;
  // font-family: 'Baloo Tamma', cursive;
  // font-family: 'Poiret One', cursive;
  font-family: 'Righteous', cursive;
  position: relative;
  float: left;
}

.logo img {
  height: 50px;
  width: 50px;
}

// logo and hamburger
nav ul a {
  transition: background-color .3s;
  font-size: 1rem;
  color: #819c76;
  display: block;
  padding: 0 15px;
  cursor: pointer;
}

// dropdown links
.dropdown-content li > a, .dropdown-content li > span {
  font-size: 16px;
  color: #819c76;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

// dropdown
.dropdown-content {
  opacity: 0.1%;
  // background-color: #e0e0e0;
  background-color: #eeeeee;
}

// user greeting
ul:not(.browser-default) li {
  list-style-type: none;
  color: black;
}

// "back to" links
.back {
  padding-top: 20px;
  padding-left: 10px;
}

.page-title {
  text-align: center;
  font-size: 3rem;
}

.page-footer{
  padding-top: 0px;
  padding-bottom: 30px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 38px;
  z-index: 6;
  opacity: 0.7;
}

// search bar
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 55%;
  font-size: 1rem;
  margin: 0 0 20px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.3s;
}

.parallax-container {
  height: 500px;
}

img.responsive-img {
  max-width: 70%;
  height: auto;
}

.show-image img {
  height: 400px;
  width: 100%;
}

.container.cards{
  position: relative;
  top: 40%;
  padding-top: 5%;
  padding-left: 2%;
  padding-right: 2%;
  // padding-top: 5%;
  // padding-bottom: 5%;
}

.card {
  padding-left: 5%;
  padding-right: 5%;
}

a.modal-action {
  margin: auto !important;
  bottom: 40% !important;
  margin-left: 30% !important;
  width: 120px;
  align-items: flex-start;
  text-align: center;
}

#reservation_startdate_1i {
display: block;
}

#reservation_startdate_2i {
display: block;

}

#reservation_startdate_3i {
display: block;

}

#reservation_enddate_1i {
display: block;

}

#reservation_enddate_2i {
display: block;

}

#reservation_enddate_3i {
display: block;

}

#garden_vegetable_ids {
  display: block !important; 
}
