// Place all the styles related to the gardens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// GARDENS INDEX
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.div.row_cards_row{
  height: 20px;
}

div.card.blue-grey.darken-1.garden_cards{
  height: 310px;
  padding-bottom: 0px;
  -webkit-filter: sepia(65%);
  -moz-filter: sepia(65%);
  -o-filter: sepia(65%);
  -ms-filter: sepia(65%);
  filter: sepia(65%);
}

div.card.blue-grey.darken-1.garden_cards:hover{
  padding-bottom: 0px;
}

.row {
  position: relative;
}

.vintage {
  // background: url(https://source.unsplash.com/lZlfHGqx44Q/1600x900) center center #292929;
  // background-size: cover;
  -webkit-background-size: cover;
  background-blend-mode: lighten;
}

.vintage:hover {
  // background: url(https://source.unsplash.com/lZlfHGqx44Q/1600x900) center center #000;
  //  background-size: cover;
  -webkit-background-size: cover;
  background-blend-mode: lighten;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

//////////////////////////////////////////////////////////////////////////////
.garden_cards{
  padding-top: 0%;
  height: 270px;
}

.garden_row{
  margin-bottom: 0;
}

.cards_row{
  margin-top: 20px;
}

.search-form {
position: fixed;
height: 3rem;
width: 300px;
}

.test1{
  position: relative;
  top: 0px;
  padding-top: 0px;
}

.container-garden-form {
  margin-bottom: 100px;
}

// cards (garden index, show)
.blue-grey.darken-1 {
  background-color: rgba(62, 65, 66, 0.05) !important;
}

// garden index title
.card .card-content .card-title {
  line-height: 48px;
  color: black;
}

input #garden_vegetable_ids_{
  display: inline-block !important;
  position: relative;
  left: 0;
  opacity: 100;
}

// garden links
.garden-info a {
    color: #c7c8bb;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

#map {
  position: fixed !important;
  top: 140px;
  left: 5px;
  height: 590px;
  width: 42%;
  padding-right: 100px !important;
  padding-left: 20px!important;
}

// GARDENS SHOW
// garden title
h4 {
  text-align: center;
}
// reserve button
.reserve {
  left: 475px;
  margin-bottom: 30px;
}
// image
.show-image {
  padding-top: 2%;
}
// main card
.garden_container {
  margin-bottom: 100px;
  // margin-top: 20px;
  // margin-left: 100px;
  // margin-right: 100px;
}
// main row of cards
.garden_container .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    width: 100%;
    padding-bottom: 0 !important;
}
//
.message {
  float: right;
  font-size: 10px;
}
//
.username {
  padding-top: 10px;
}
//
p {
  color: black !important;
}
//
i {
  color: black !important;
}

// GARDENS FORM
.delete_garden {
  margin-left: 960px;
}
