// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo {
  margin: 0;
  padding-top: 10px;
  padding-left: 15px;
  text-align: left;
  font-size: 1.5rem;
  color: #245516;
  /*font-family: 'Baloo Tamma', cursive;*/;
  /*font-family: 'Poiret One', cursive;*/
  font-family: 'Righteous', cursive;
  position: relative;
  float: left;
}
.logo img {
  height: 50px;
  width: 50px;
}
